.gameTable {display: table;}
.gameRow {display: table-row;}
.gameCell {
	display: table-cell;
	padding: 15px;
	font-size: 72px;
	cursor: pointer;
}
.gameCell:hover, .glyphicon-question-sign:hover {
	color: blue;
	cursor: pointer;
}

.glyphicon-question-sign {
	padding: 15px;
	font-size: 72px;
}

.normal {
	color: red;
}
/*
.flipped {
	color: green;
	animation: flipping 1s 0s;
}
*/
/*
@keyframes flipping {
	0% {
			transform: scale(1,1);
			opacity: 100;
		}
	100% {
			transform: scale(0,1);
			opacity: 0;
		}
}
*/
.hideMe {
	opacity: 0;
	transition: all 1s ease;
}
.showMe {
	opacity: 100;
	transition: all 1s ease;
}

.container {
	padding: 0 5px 5px;
	/*border: solid thin blue;*/
	display: table-cell;
}

/*
cool pulsating effect
@keyframes flipping {
    0% {color:green}
    50% {color:yellow}
    100% {color:green}
}
*/
/*
 * #dd_main2 {
  transition-property: top, left;
  transition-duration: 1s, 1s;
  transition-delay: 0s, 1s;
}
 */

.button {
	display: table-cell;
	padding: 5px;
	border-radius: 5px;
	background: #435b77;
	margin: 5px;
	cursor: pointer;
	color: white;
	text-align: center;
}
.button:hover {
	background: blue;
	cursor: pointer;
}

.border {
	border: solid thin blue;
}
.center-block {
	text-align: center;
}
.noDisplay {
	color: red;
	cursor: none;
	display: table-cell;
	padding: 15px;
	font-size: 72px;
}

#message, #inGameMenu, #buttons {
	text-align: center;
    background: #8abcf7;
    color: #ffffff;
    font-family: FontAwesome;
    font-size: 1.75em;
}

#message {
	padding: 5px;
}

#inGameMenu {
    border-radius: 0 0 5px 5px;
    display: none;
    padding: 5px;
    width: 82px;
    cursor: pointer;
    background: #435b77;
}
#inGameMenu:hover {
	background: blue;
}
#buttons {
	font-size: 3em;
}


#inGameMenu, #gameField, #question {
	display: none;
}
div[id^='button']:hover {
	cursor: pointer;
	background: blue;
}
div[id^='button'] {
	text-align: center;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	background: orange;
}
/*
.table {
	display: table;
	margin: 0 auto;
}
.row {display: row;}
.cell {
	display: table-cell;
	padding: 0;
	margin: 0;
	width: 25px;
	width: 25px;
	border: solid thin blue;
	cursor: pointer;
	background: #0033CC;
}
.cell:hover {background: #006600;}
*/