$starEmptyColor: #212121;
$primiaryColor: #0288D1;
$secondarColor: #03A9F4;
$background: #8abcf7;
$fontSize: 72px;

%colorCursor {
    color: $secondarColor;
    cursor: pointer;
}

@mixin padMargin ($padding: 15px, $margin: 0) {
  padding: $padding; 
  margin: $margin;
}

@mixin borderRadius($topLeft: 0, $topRight: 0, $bottomRight: 7px, $bottomLeft: 7px) {
	border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}
